$add = 40px 40px
$box = 18px 16px
$calendar = 16px 16px
$check = 15px 15.7px
$clear = 10.1px 11.1px
$delete = 40px 40px
$diagram = 16px 16px
$group = 40px 40px
$home = 17.9px 16px
$list = 15px 10.7px
$logo = 120px 177.4px
$loupe = 16px 16px
$order = 16px 16px
$payment = 40px 40px
$people = 18.2px 16px
$setting = 16px 16px
$sms = 40px 40px
$staff = 40px 40px
$succees = 40px 40px
$support = 10.3px 16px
$time = 40px 40px


svgSize($icon)
	width: rem($icon[0])
	height: rem($icon[1])