$green = #3eaf71
$blue = #7090c7
$red = #f9848b
$yellow = #fbb843
$light-purple = #9a97b3
$light-green = #def0ea

$font-color = #323232

$partialsBgColor = #343245;

$sidebar
	size(270px, calc(100% - 60px))
	float: left
