$font
	font-weight: 300
	color: $font-color

.title-h1
	fs: rem(26px)
	line-height: rem(60px)
	@extend $font

.title-h2
	fs: rem(22px)
	line-height: rem(40px)
	@extend $font
	
.title-center
	text-align: center
