.icon
	display: inline-block
	transition: all .3s ease

	&-succees
		svgSize($succees)

	&-logo
		svgSize($logo)

	&-delete
		svgSize($delete)

	&-list
		svgSize($list)

	&-clear
		svgSize($clear)

	&-loupe
		svgSize($loupe)

	&-home
		svgSize($home)

	&-calendar
		svgSize($calendar)

	&-order
		svgSize($order)

	&-people
		svgSize($people)

	&-diagram
		svgSize($diagram)

	&-box
		svgSize($box)

	&-support
		svgSize($support)

	&-setting
		svgSize($setting)

	&-time
		svgSize($time)

	&-staff
		svgSize($staff)

	&-payment
		svgSize($payment)

	&-group
		svgSize($group)

	&-sms
		svgSize($sms)

	&-add
		svgSize($add)

	&-check
		svgSize($check)
