.logo
	display: inline-block

	&__label
		display: inline-block
		color: #fff
		font-weight: 300
		line-height: rem(40px)
		fs: rem(18px)
		vertical-align: top

	&__icon
		size(rem(40px))
		fill: $green
