.title
	display: inline-block
	margin-top: rem(-55px)
	padding-bottom: rem(55px)

	&__text
		display: inline-block
		fs: rem(80px)
		font-weight: 100

		/h2&
			padding-right: rem(15px)

	&__logo
		position: relative
		top: rem(55px)
		margin: 0 rem(30px)
		fill: $green
