doctype html
html(lang="ru-RU")

	head

		title= projectName + ' :: v' + projectVersion
		script(src="assets/scripts/common.js")
		script(src="assets/scripts/test.js")

	body
		#fixtures(style={display: 'none', visibility: 'hidden'})
