doctype html
html
	head
		title= projectName + ' :: v' + projectVersion
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,700italic&subset=latin,cyrillic' rel='stylesheet')
		link(href= "/assets/styles/dummy.min.css?" + timestamp)

	body
