$font-stack = 'Roboto', sans-serif
$font-size = 16
$font-color = #323232

@import 'helpers/mixins'
@import 'helpers/variables'
@import 'helpers/svg-sprite'

@import 'helpers/optimize'
@import 'base/base'
@import 'base/layout'

@import 'components/icons'
@import 'components/buttons'
@import 'components/inputs/index'
@import 'components/title'

@import 'pages/dummy'
