html
	font-family: $font-stack
	font-style: normal
	font-weight: normal
	color: $font-color
	fs: 16px

html
body
	position: relative
	height: 100%

.main
	padding-top: 60px
	min-height: 100%
	+mobile()
		min-width: 320px
		overflow: hidden

	&_layout_login
		position: relative
		text-align: center
		padding: 55px 0 200px

.page
	margin-left: rem(270px)

.content
	padding: 40px

	&_margin-left_270
		margin-left: 270px
		
	&-header
		margin-bottom: 20px
		
.clearfix
	clearfix()
	
strong
	font-weight: 500
