html
	font-family: $font-stack
	font-style: normal
	font-weight: normal
	color: $font-color
	fs: 16px

html
body
	position: relative
	height: 100%

.main
	min-height: 100%
	+mobile()
		min-width: 320px
		overflow: hidden

	&_layout_login
		position: relative
		text-align: center
		padding: 55px 0 200px

.page
	margin-left: rem(270px)
	height: calc(100% - 60px)

.login-form
	width: 530px
	margin: 0 auto

.content
	padding: 40px
	height: 100%

	&_margin-left_270
		margin-left: 270px
