@font-face
	font-family: 'MuseoSansBold'
	src: url('../fonts/MuseoSansBold.eot')
	src: url('../fonts/MuseoSansBold?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansBold.woff') format('woff'),
		url('../fonts/MuseoSansBold.ttf') format('truetype'),
		url('../fonts/MuseoSansBold.svg#MuseoSansCyrl-700') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'MuseoSansRegular'
	src: url('../fonts/MuseoSansRegular.eot')
	src: url('../fonts/MuseoSansRegular?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansRegular.woff') format('woff'),
		url('../fonts/MuseoSansRegular.ttf') format('truetype'),
		url('../fonts/MuseoSansRegular.svg#MuseoSansCyrl-300') format('svg')
	font-weight: normal
	font-style: normal


museo-r()
	font-family: 'MuseoSansRegular', sans-serif

museo-b()
	font-family: 'MuseoSansBold', sans-serif
