.l-width-100p
	width: 100% !important

.l-right
	float: right

.l-left
	float: left

.l-desktop-hidden
	+desktop()
		display: none !important

.l-tablet-hidden
	+tablet()
		display: none !important

.l-mobile-hidden
	+mobile()
		display: none !important
