.l-width-100p
	width: 100% !important

.l-right
	float: right

.l-left
	float: left

.l-fade-in {
  opacity: 0
  will-change: opacity
}
.l-fade-out {
  opacity: 1
  will-change: opacity
}

.l-hidden {
  display: none !important
}

.l-desktop-hidden
	+desktop()
		display: none !important

.l-tablet-hidden
	+tablet()
		display: none !important

.l-mobile-hidden
	+mobile()
		display: none !important
